<%- include('../../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/chat.css" />
</head>

<body>
  </head>
  <body>
    <%- include('../../includes/navigation.ejs') %>

    <div>
        <div class="message left">Hey uzair how are you?</div>
        <div class="message right">Hey ahmed, I'm fine</div>

    </div>
    
  </body>
</html>
