<%- include('../../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/chat.css" />
</head>

<body>
  </head>
  <body>
    <%- include('../../includes/navigation.ejs') %>

    <h1>
    </h1>
    
  </body>
</html>
